:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* font-family: "McLaren", sans-serif; */
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



.header {
  background: #f5ba13;
  height: 100px;
  width: 100%;
  padding: 16px 32px;
  margin: auto -16px;
  box-shadow: 0 0 10px 0  rgba(0,0 ,0, 0.3);
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.note{
  margin: 16px;
  background: white;
  color: #242424;
  float: left;
  box-shadow: 0 2px 5px #ccc;
  flex-direction: column;
  border-radius: 7px;
  font-family: "Montserrat", sans-serif;
  width: 240px;
}
.note h1{
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p{
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.footer{
  position: absolute;
  color: white;
  text-align: center;
  bottom: 0;
  width: 99%;
  height: 2.5rem;
}